.container {
  display: flex;
  height: 400px;
  background-color: aqua;
  /* thuộc tính mặc định */
  /* flex-wrap: nowrap; */

  /* tự động xuống dòng nếu thẻ chứa kh đủ diện tích */
  flex-wrap: wrap;

  /* xuống dòng và đảo ngược */
  /* flex-wrap: wrap-reverse; */

  /* thuộc tính mặc định */
  align-content: stretch;

  /* căn theo cross start */
  align-content: flex-start;

  /* căn theo cross end */
  align-content: flex-end;

  /* căn giữa cross axis */
  align-content: center;

  /* các hàng cách đều nhau, sát lề */
  align-content: space-between;

  /* khoảng trống xung quanh các phần tử cách đều nhau, cách lề */
  align-content: space-around;

  align-content: space-evenly;
}
.box {
  width: 30%;
  background-color: blue;
  border: 2px solid;
}
