body {
  background-color: aqua;
}
a {
  margin-top: 30px;
  text-decoration: none;
  background-color: rgb(241, 198, 205);
  border-radius: 999px;
  color: #000;
  width: 100px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
}
a:hover {
  background-color: #000;
  color: rgb(241, 198, 205);
}
