body {
  text-align: center;
}
p {
  /* letter-spacing: 13px; */
  /* word-spacing: 50px; */

  /* text-align: left;
  text-align: right;
  text-align: center;
  text-align: justify; */
}
/* a {
  text-align: center;
  display: block;
} */
