/* System Fonts with system-ui */
/* body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} */

body {
  font-family: "Inter", sans-serif;
}
h1 {
  font-family: "Roboto Slab", serif;
}
p {
  /* font-weight: 700; */
  line-height: 1.5;
}
h1 {
  height: 120px;
  background-color: blue;
  line-height: 120px;
}
