/* div {
  width: 200px;
  height: 200px;
  border: 30px solid blue;
} */
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid rgb(236, 53, 83);
  margin-left: -50px;
}
.avatar:first-child {
  margin-left: 0;
}
div.content {
  background-color: cadetblue;
  padding: 40px;
  display: inline-block;
}
